body {
    background-repeat: no-repeat;
    background-size: cover;

}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* p {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h3.current-weather .mdi {
font-size: 4rem;
position: absolute;
top: 40px;
left: 0;
}

h3.windspeed .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;

}

h3.feels-like .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;
}

h3.humidity .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;   
}

h2.temp .mdi {
    font-size: 5rem;
    position: absolute;
    left: -4rem;

}

.d1-temp, .d2-temp, .d3-temp, .d4-temp, .d5-temp, .d6-temp, .d7-temp {
    position: relative;
}

.d1-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
    
}

.d2-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

.d3-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

.d4-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

.d5-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

.d6-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

.d7-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -1.5rem;
    top: -0.6rem;
}

* h2 {
    font-size: 35px;
}
* h3, h2 {
    font-size: 28px;
    position: relative;
}

h2 .mdi {
    font-size: 50px;
}

h2.temp {
    font-size: 5rem;
}

.all-weather {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 800px;
    justify-content: space-around;
    margin: auto;
    gap: 10rem;
    align-items: center;
}
#search {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    width: 20%;
    font-size: 1.5rem;
}

button.search .mdi {
    font-size: 2rem;

  
}

.search-box {
    display: flex;
    flex-flow: row nowrap;
  gap: 2px;
    margin-left: 5rem;
    margin-top: 6rem;
}

#search:focus {
    border: 3px solid #555;
}
.part-one, .part-two {
    display: flex;
    flex-flow: column nowrap;
}

.forecast {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;
    gap: 4rem;
}

.forecast-boxes {
    display: flex;
    flex-flow: column nowrap;
   
}

.forecast-boxes p {
    margin-bottom: 0.1rem;
}