body {
background-color: #e1e1e1;
width: 100%;
height: 100%;
}

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* p {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h3.current-weather .mdi {
font-size: 4rem;
position: absolute;
top: 40px;
left: 0;
}

h3.windspeed .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;

}

h3.feels-like .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;
}

h3.humidity .mdi {
    font-size: 2.5rem;
    position: absolute;
    left: -3rem;
    top: -0.5rem;   
}

h2.temp .mdi {
    font-size: 5rem;
    position: absolute;
    left: -4rem;

}

.d1-temp, .d2-temp, .d3-temp, .d4-temp, .d5-temp, .d6-temp, .d7-temp {
    position: relative;
}

.d1-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
    
}

.d2-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

.d3-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

.d4-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

.d5-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

.d6-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

.d7-temp .mdi {
    font-size: 2rem;
    position: absolute;
    left: -2rem;
    top: -0.6rem;
}

* h2 {
    font-size: 35px;
}
* h3, h2 {
    font-size: 28px;
    position: relative;
}

h2 .mdi {
    font-size: 50px;
}

h2.temp {
    font-size: 5rem;
}

.all-weather {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1000px;
    justify-content: space-evenly;
    margin: auto;
    gap: 10rem;
    align-items: center;
}
#search {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    width: 20%;
    font-size: 1.5rem;
}

button.search .mdi {
    font-size: 2rem;
  
}
button.search {
    margin-left: 5px;
}

.search-box {
    display: flex;
    flex-flow: row nowrap;
  gap: 2px;
    margin-left: 5rem;
    margin-top: 6rem;
}

#search:focus {
    border: 1px solid #555;
}

.part-one, .part-two {
    display: flex;
    flex-flow: column nowrap;
width: 100%;
max-width: 500px;
}

.forecast {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    justify-content: space-around;
    position: relative;
    gap: 4rem;
 
}

.border-top, .border-bottom {
    border-bottom: 1px solid  #f7ea21;
    width: 70%;
    margin: auto;
}

.forecast-boxes {
    display: flex;
    flex-flow: column nowrap;
   width: 100%;
   max-width: 350px;
 
}

.forecast-boxes p {
    
    width: 8rem;
    font-size: 1rem;
  
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7 {
    font-weight: 700;
}

@media screen and (max-width: 700px) {
    body {
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
     
        padding: 0 10px;
    }


.all-weather {
 
    flex-flow: column nowrap;
    width: 100%;
    max-width: 700px;
    justify-content: space-evenly;
    margin: auto;
    gap: 0;
    align-items: center;
}
#search {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    width: 50%;
    font-size: 1rem;
}


.part-one, .part-two {
align-items: center;
width: 100%;
max-width: 700px;
}

.forecast {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    width: 100%;
 
    justify-content: center;

    gap: 2rem;
 
}

.border-top, .border-bottom {
    border-bottom: 1px solid  #f7ea21;
    width: 70%;
    margin: auto;
}

.forecast-boxes {
    display: flex;
    flex-flow: column nowrap;
   width: 100%;
   max-width: 150px;
 
}

.forecast-boxes p {
    
    width: 8rem;
    font-size: 1rem;
  
}

}